@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>João arthur dos Santos Lorenzoni - programmer</p>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">joaoarthurlorenzoni@gmail.com</a><br />
    <strong>More information: </strong> <a href="https://github.com/John-lorenz">My Github</a>

</address>

